
<h2>プライバシーポリシー</h2>
<div class="static_back">
1. はじめに
このプライバシーポリシーは、[We_Conn]（以下、「当アプリ」といいます）が収集する個人情報の取り扱いについて説明します。
<br>
<br>
2. 収集する情報
個人情報: ユーザー登録時に提供される名前、メールアドレス、プロフィール情報など。
利用情報: アプリの使用状況、アクセス日時、IPアドレスなど。
<br>
<br>
3. 情報の利用目的
ユーザーアカウントの管理
サービスの提供・改善
ユーザーへの連絡（通知、サポートなど）
マーケティングやプロモーションのための分析
<br>
<br>
4. 情報の共有
第三者への提供: 法令に基づく場合や、ユーザーの同意がある場合を除き、個人情報を第三者に提供することはありません。
サービス提供者: サービスの運営に必要な範囲で、信頼できる第三者に情報を委託することがあります。
<br>
<br>
5. セキュリティ
個人情報の保護のために合理的な技術的および組織的な対策を講じますが、インターネット上の通信は完全に安全ではないことをご理解ください。
<br>
<br>
6. ユーザーの権利
ユーザーは、自身の個人情報へのアクセス、訂正、削除を要求する権利があります。
<br>
<br>
7. プライバシーポリシーの変更
本ポリシーの内容を変更する場合があります。変更があった場合は、アプリ内で通知します。
<br>
<br>
8. お問い合わせ
お問い合わせ等は、お問い合わせ>>連絡先情報までご連絡ください。
</div>