<%= turbo_frame_tag "like-btn-#{event.id}" do %>
  <% if user_signed_in? %>
    <% if event.liked_by?(current_user) %>
      <%= button_to "取り消す", event_likes_path(event), method: :delete, class: "likebtn" %>
            <%= render 'comments/comment', event: event %>
    <% else %>
      <%= button_to "行きたい！", event_likes_path(event), method: :post, class: "likebtn" %>
        <strong><p class="caution">※ 行きたいボタンを押すとコメントが<br>投稿できます※</p></strong> 
    <% end %>
  <% end %>
<% end %>
